@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap');

:root {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  background-color: #000000;
  text-transform: uppercase;
  margin: 1rem 0rem;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.divider {
  margin: 32px auto;
  display: flex;
  justify-content: center;
  color: #ffffff; /* inherits into SVG */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color:#000000;
  }
}
